/* .row {
  height: 100vh;
} */
* {
  font-family: "Roboto";
}
.main {
  /*   overflow: hidden; */
  width: 100vw !important;
}
/* .header-row {
  /* height: 10vh; 
} */

.genai {
  letter-spacing: -3px;
  font-weight: 900;
  height: 47px;
  width: 158px;
}
.bot {
  letter-spacing: -1.5px;
  font-weight: 300;
}
.dashboard-genaibot {
  width: 212.29px;
  height: 44.74px;
  padding-left: 35px;
  padding-top: 15px;
  margin-top: 20px;
}

.sidebar-col {
  background-color: white;
  padding-left: 5px;
  /*  position: fixed; */
  position: sticky;

  left: 0;
  flex-grow: 0;
  flex-shrink: 0;
  width: 21% !important;
}

.noPadding {
  padding-right: 0px !important;
}

.sidebar {
  text-align: left;
  padding-left: 5px !important;
  margin: 0 !important;
}
.sidebar-items {
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0.5px;
  margin-top: 0.6rem;
  list-style-type: none;
}
.sidebar-items img:hover path {
  stroke: white;
  margin-bottom: 2px;
}
/* svg:hover path {
  stroke: #fce57e;
} */
.sidebar-items a:hover {
  background-color: #9747ff;
  color: #ffffff;
  border-radius: 7px;
}
.sidebar .active {
  background-color: #9747ff;
  color: #ffffff;
  border-radius: 7px;
}

.sidebar a {
  display: flex !important;
  height: 2.5rem;
  align-items: center;
  text-decoration: none;
  color: #737791;
}
.sidebar-items p {
  /*  display: inline-block !important; */
  margin: 5px 10px;
}
.sidebar-items img {
  margin-bottom: 1px;
  color: #f9fafb;
  fill: white;
}

.sidebar-items p {
  margin-left: 10px !important;
}

.form-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*   height: 3.7rem; */
  padding: 0.5rem !important;
  /*  background-color: yellow; */
}

.input-search {
  height: 2rem;
  width: 260px;
  border: none;
  border-radius: 3px;
  padding-left: 30px !important;
  background: #f9fafb url("../../../assets/magnifier.svg") no-repeat 2px;
}
.form-fields input {
  border: none;
  padding: 5px;
  width: 350px;
  border-radius: 5px;
}
.form-fields select {
  border: none;
  padding: 1.5rem;
}
