/* .row {
  height: 100vh;
} */
* {
  font-family: "Roboto";
}
.main {
  /*   overflow: hidden; */
  width: 100vw !important;
}
.header-row {
  height: 120px;
}
.nav-content {
  flex: 1;
  overflow-y: auto; /* Enable vertical scroll if content exceeds viewport height */
}

.genai {
  letter-spacing: -3px;
  font-weight: 900;
  height: 47px;
  width: 158px;
}
.bot {
  letter-spacing: -1.5px;
  font-weight: 300;
}
.dashboard-genaibot {
  width: 212.29px;
  height: 44.74px;
  padding-left: 35px;
  padding-top: 10px;
  margin-top: 20px;
}

.sidebar-col {
  background-color: white;
  padding-left: 5px;
  /*  position: fixed; */
  /*  position: sticky; */

  left: 0;
  flex-grow: 0;
  flex-shrink: 0;
  width: 21% !important;
}

.noPadding {
  padding-right: 0px !important;
}

.sidebar {
  text-align: left;
  padding-left: 5px !important;
  margin: 0 !important;
}
.sidebar-items {
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;

  font-size: 18px;
  font-weight: 600;

  margin-top: 0.6rem;
  list-style-type: none;
  padding: 16px 0px;
}
.sidebar-items img:hover path {
  stroke: white;
  margin-bottom: 2px;
}
/* svg:hover path {
  stroke: #fce57e;
} */
.sidebar-items a:hover {
  background-color: #9747ff;
  color: #ffffff;
  border-radius: 16px;
  /* 
top: 156px
left: 20px

 */
}
.sidebar .active {
  background-color: #9747ff;
  color: #ffffff;
  border-radius: 16px;
}

.sidebar a {
  display: flex !important;
  height: 64px;
  align-items: center;
  text-decoration: none;
  color: #737791;
}
.sidebar-items p {
  /*  display: inline-block !important; */
  margin: 5px 10px;
}
.sidebar-items img {
  margin-bottom: 1px;
  color: #f9fafb;
  fill: white;
  margin-right: 24px;
}

.sidebar-items p {
  margin-left: 10px !important;
}

.form-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1440px !important;
  padding-top: 20px;
  /*   position: sticky; */
  top: 0;
}
.search-container {
  /* position: relative; */
  display: inline-block;
  width: 513px;
  height: 60px;
}

.input-search {
  padding-left: 50px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: none;
  border-radius: 16px;
  background-color: #f9fafb;
  background-image: url("../../../assets/magnifier.svg");
  background-size: 32px;
  background-repeat: no-repeat;
  background-position: 15px 50%;
  font-size: 18px;
  font-weight: 400;
  text-align: left;
  color: #737791;
}

.select-lang {
  width: 181px;
  height: 60px;
  padding-top: 20px;
}
.select-lang img {
  width: 24px;
  height: 24px;
  margin-right: 15px;
}
.form-fields input {
  border: none;
  padding: 5px;
  width: 350px;
  border-radius: 5px;
}
.form-fields select {
  border: none;
  padding: 1.5rem;
}
