.modalcontainer {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.modall {
  background-color: white;
  border-radius: 5px;
  padding: 1rem !important;
  width: 25rem;
}
.btnn {
  border: none;
  padding: 0.5rem 1.5rem !important;
  border-radius: 5px;
  cursor: pointer;
  margin: 0.5rem !important;
  font-size: 14px;
}
.cancel {
  color: #8291a0;
  background-color: #ebe9e9;
}
.add {
  color: white;
  background-color: #9747ff;
}
.close {
  cursor: pointer;
}

.modalheader {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
}
.modalcontent {
  margin-top: 0.5rem !important;
  margin-bottom: 1rem !important;
}
.modalcontent input {
  width: 100%;
  height: 30px;
  margin-top: 0.5rem !important;
}
.modalfooter {
  display: flex;
  justify-content: center;
}
