.bot-home {
  padding: 2rem !important;
}
.botintent-label {
  font-size: 18px;
  font-weight: 500;
  color: #19191e;
}
.addnew-btn {
  color: #077251;
  border: 2px solid #077251;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 600;
  padding: 0.2rem !important;
}
