input {
  border: 1px solid #c8d2dd;
  border-radius: 5px;
}
input,
label {
  display: block;
}
.add-intent-main {
  padding: 0.5rem 5rem 0.5rem 3rem !important;
}
.add-intent-label {
  color: #19191e;
  font-size: 18px;
  font-weight: 600;
}

.name {
  margin-top: 0.5rem;
  width: 346px;
  font-size: 14px;
  height: 70px;
}
#name {
  height: 47px;
  font-size: 14px;
  padding: 6px;
  width: 346px;
  padding: 15px 12px 15px 14px;
  border-radius: 5px;
  border: 1px solid #c8d2dd;
  margin-top: 8px;
}
.description {
  margin-top: 20px;
}
#description {
  height: 47px;
  font-size: 14px;
  padding: 6px;
  width: 346px;
  padding: 15px 12px 15px 14px;
  border-radius: 5px;
  border: 1px solid #c8d2dd;
  margin-top: 8px;
}

.intent-entity {
  border: 1px solid #c8d2dd;
  border-radius: 5px;
  margin-top: 20px;
  padding: 0.7rem;
  background-color: white;
  color: #19191e;
  font-size: 18px;
  font-weight: 500;
  line-height: 21.6px;
  width: 728px;
}
.intent-entity-text {
  margin: 8px 0px;
}
#entity {
  padding: 15px 12px 15px 14px;
  border-radius: 5px;
  border: 1px solid #c8d2dd;
  width: 615px;
  height: 47px;
  margin-right: 1.5rem;
  font-size: 14px;
}

.add-enti-button {
  background-color: #077251;
  border: none;
  border-radius: 8px;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  cursor: pointer;
  width: 47px;
  height: 47px;
}
.intent-container {
  border: 1px solid #c8d2dd;
  border-radius: 5px;
  margin-top: 20px;
  padding: 0.7rem;
  background-color: white;
  color: #19191e;
  font-size: 18px;
  font-weight: 500;
  line-height: 21.6px;
  width: 728px;
}
.intent-example {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
}

.add-ex-button {
  border: 2px solid #077251;
  border-radius: 12px;
  background-color: white;
  color: #077251;
  text-align: center;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  margin: 4px 2px;
  cursor: pointer;
  width: 71px;
  height: 36px;
}

.add-intent-submit {
  margin-top: 25px;
  border: none;
  background-color: #9747ff;
  border-radius: 8px;
  color: white;
  padding: 8px 6px;
  width: 144px;
  height: 50px;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
}
.reasoning-action {
  border: 1px solid #c8d2dd;
  border-radius: 5px;
  margin-top: 20px;
  /* width: 450px; */
  padding: 0.7rem;
  background-color: white;
  color: #19191e;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0em;
  width: 728px;
  height: 345px;
}

.api-url {
  width: 346px;
  font-size: 14px;
  margin: 5px 1px;
  height: 70px;
}
#api-url {
  padding: 15px 12px 15px 14px;
  height: 47px;
  width: 346px;
  margin-top: 10px;
}
#api-param {
  padding: 15px 12px 15px 14px;
  height: 47px;
  width: 346px;
  margin-top: 10px;
}
.api-param {
  width: 346px;
  font-size: 14px;
  margin: 15px 1px;
  height: 70px;
}

.reason-description {
  width: 680px;
  font-size: 14px;
  margin: 15px 1px;
  height: 70px;
}

#reason-description {
  width: 680px;
  height: 47px;
  margin: 5px 1px;
  font-size: 14px;
  padding: 15px 12px 15px 14px;
}

.intent-list {
  padding-left: 0;
}

.ex-list-items {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  position: relative;
  margin-top: 13px;
}
.intent-example-text {
  border: 1px solid #c8d2dd;
  border-radius: 5px;
  width: 612px;
  font-weight: 400;
  font-size: 14px;
  height: 47px;
  padding: 11px 12px 11px 14px;
  display: inline-block;
}
.icons {
  position: absolute;
  right: 10px;
}
.trash-btn {
  border: none;
  height: 47px;
  text-align: center;
  background-color: #c3325f;
  color: white !important;
  border-radius: 8px;
  width: 47px;
  margin-right: 6px;
}

.entity-container ul {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
}
.entity-container li {
  height: 28px;
  display: inline-flex;
  margin: 6px 3px;
  background-color: #c9e5ff;
  border-radius: 8px;
  border: 1px solid #c9e5ff;
  color: #0049b2;
  padding: 6px 10px 6px 10px;
  font-size: 12px;
  font-weight: 400;
  align-items: center;
}

.cross-circle {
  width: 15px;
  height: 15px;
  margin: 5px 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 1px solid #0049b2;
  border-radius: 50%;
}

.cross-symbol {
  color: #0049b2;
  font-size: 10px;
}
