* {
  font-family: "Roboto";
}
input {
  border: 1px solid #c8d2dd;
  border-radius: 3px;
}
input,
* {
  font-family: "Roboto";
}
input {
  border: 1px solid #c8d2dd;
  border-radius: 3px;
}
input,
label {
  display: block;
}
.add-intent-main {
  padding: 0.5rem 5rem 0.5rem 3rem !important;
}
.add-intent-label {
  color: #19191e;
  font-size: 18px;
  font-weight: 600;
}

.name {
  margin-top: 0.5rem !important;
}
.description {
  margin-top: 0.3rem !important;
}
#description {
  width: 450px;
}

.intent-entity {
  border: 1px solid #c8d2dd;
  border-radius: 3px;
  margin-top: 1rem !important;
  width: 450px;
  padding: 0.7rem !important;
}
.intent-entity-text {
  width: 400px !important;
  height: 30px !important;
  justify-content: space-between;
}
#entity {
  width: 400px;
  margin-right: 0.4rem !important;
}

.add-enti-button {
  background-color: #04aa6d;
  border: none;
  border-radius: 5px;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 4px 2px;
  cursor: pointer;
  width: 2rem;
}
.intent-container {
  border: 1px solid #c8d2dd;
  border-radius: 3px;
  width: 450px;
  margin-top: 1rem !important;
}
.intent-example {
  display: flex;
  justify-content: space-between;
  padding: 0.7rem !important;
}

.add-ex-button {
  border: 1px solid #077251;
  border-radius: 10px;
  background-color: white;
  color: #077251;
  text-align: center;
  display: inline-block;
  font-size: 15px;
  margin: 4px 2px !important;
  cursor: pointer;
  width: 3rem;
  height: 1.5rem;
}

.add-intent-submit {
  margin-top: 25px !important;
  border: none;
  background-color: #9747ff;
  border-radius: 8px;
  color: white;
  padding: 8px 6px !important;
  font-size: 12px;
}
.reasoning-action {
  border: 1px solid #c8d2dd;
  border-radius: 3px;
  margin-top: 1rem !important;
  width: 450px;
  padding: 0.7rem !important;
}

.api-url {
  font-size: 14px;
  margin-top: 0.5rem !important;
}
.api-param {
  font-size: 14px;
  margin-top: 0.5rem !important;
}

#reason-description {
  width: 425px;
  font-size: 14px;
  margin-top: 0.5rem !important;
}
.intent-list {
  width: 425px;
  margin: 0.5rem !important;
}
.ex-list-items {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 5px !important;
  height: 30px;
  display: flex;
  align-items: center;
  position: relative;
  margin-top: 10px !important;
}
.intent-example-text {
  border: 1px solid #c8d2dd;
  border-radius: 3px;
  width: 370px;
  display: inline-block;
  padding-left: 5px !important;
}
.icons {
  position: absolute;
  right: 10px;
}
.trash-btn {
  border: none;
  height: 26px;
  text-align: center;
  background-color: #c3325f;
  color: white !important;
  border-radius: 3px;
  width: 1.7rem !important;
}

.modalcontainer {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.modall {
  background-color: white;
  border-radius: 5px;
  padding: 1rem !important;
  width: 25rem;
}
.btnn {
  border: none;
  padding: 0.5rem 1.5rem !important;
  border-radius: 5px;
  cursor: pointer;
  margin: 0.5rem !important;
  font-size: 14px;
}
.cancel {
  color: #8291a0;
  background-color: #ebe9e9;
}
.add {
  color: white;
  background-color: #9747ff;
}
.delete {
  color: white;
  background-color: #c3325f;
}
.close {
  cursor: pointer;
}

.modalheader {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
}
.modalcontent {
  margin-top: 0.5rem !important;
  margin-bottom: 1rem !important;
}
.modalcontent input {
  width: 100%;
  height: 30px;
  margin-top: 0.5rem !important;
}
.modalfooter {
  display: flex;
  justify-content: center;
}
