.configContainer {
    /* width: 1500px; */
    background-color: rgba(246,246,246,1);
    padding: 20px !important;
}

.topBtn {
    float: right;
}

.addBtn {
    color: rgba(7, 114, 81, 1);
    font-family: Roboto;
    font-size: 14px;
    font-weight: 600;
    line-height: 14px;
    letter-spacing: 0px;
    text-align: left;
    width: 172px;
    height: 36px;
    border: 2px solid rgba(7, 114, 81, 1);
    border-radius: 12px;

    /* top: 179px
    left: 1509px */
        
}

.delBtn {
    width: 172px;
    height: 36px;
    border-radius: 12px;
    border: 2px solid rgba(195, 50, 95, 1);
    color: #C3325F;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 600;
    line-height: 14px;
    letter-spacing: 0px;
    text-align: left;
}

.grid {
    /* width:1446px; */
}
.gridSection {
    /* width: 1446px; */
    /* height: 726px; */
    /* top: 217px
    left: 404px */
    /* border-radius: 20px; */
    background-color: #FFFFFF;
}

.gridRow {
    display: flex;
    width:100%;
}

.gridHeader {
    background-color: rgba(214,214,214,1);
}

.gridFirstCol {
    flex-basis: 5%;
}

.gridSecCol {
    flex-basis: 20%;
}

.gridThirdCol {
    flex-basis: 60%;
}

.gridFourCol {
    flex-basis: 15%;
}